body{
    background:rgb(250, 244, 231);
}
h1{
    padding:1rem 5rem;
}
header{
    position:relative;
    display:flex;
    right:0;
    z-index: 1000;
    justify-content: center;
    text-align: center;
    top:-3.6rem;
    
}

header ul{
    display:flex;
    list-style: none;
}


header ul li{
    padding:0 1.5rem;
    position:relative;
    top:-1.5rem
}

header ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;

}

header ul li a:hover{
    color:red;
}

header ul li::after{
    content:'';
    color:rgb(81, 112, 24);
    height:3px;
    width:0%;
    display:block;
    background:rgb(92, 18, 58);
    margin:auto;
    transition:all 3sec;
}

header ul li:hover::after{
    width:100%;
    

}
.touch{
    color:rgb(245, 77, 16);
}

img{
    width:480px;
    height:350px;
    position:relative;
    float:right;
    top:-18rem;
}
main{
    padding:3rem 5rem;
}

h2{
    font-size: 33px;
}

.help{
    color:rgb(245, 77, 16);
}

.firstbut{
    width: 100px;
    height:30px;
    background:transparent;
    border-radius: 10%;
    
}
i{
    height:400px;
}

.secondbut{
    width: 140px;
    height:34px;
    background:rgb(245, 77, 16);
    border-radius: 10%;
    border:none;
    margin:0 1rem;
    color:white;


}



.header-btn{
    height:35px;
    width:140px;
    border-radius:21px;
    background:rgb(245, 77, 16);
    border:none;
    font-size:14px;
    color:white;
    position:absolute;
    float:right;
    right:0;
    top:-0.8rem;
    box-shadow: 2px 1px 4px 2px rgb(217, 198, 198);
}
.header-btn:hover{
    visibility:;
    background-color:rgb(94, 135, 111)

}







.dropmenu{
    display:none;
    position:absolute;
    left:0;
    top:100%;
;

}


.box{
    width:400px;
    height:220px;
    background:whitesmoke;
    border:solid 1px orange;
    display:flex;
    flex-wrap:wrap;
    row-gap:1rem;
    column-gap: 5rem;
    position:relative;
    left:10rem;
   
    border-radius: 4%;

    justify-content: center;
    padding: 3rem;
    color:rgb(245, 77, 16)  ;  
    font-weight: 800;
    font-size: 28px;
    
 
}

.box p{
    margin-top: 0;

}

.word{
    font-size:11px;
    color:black;
    font-weight: 100;
}
h4{
    color:rgb(245, 77, 16)  ;  
    padding: 0 4rem;
    font-size: 34px;
    position:relative;
    top:1rem;

}

.offer{
    color:black;
    font-size: 26px;
}

.container{
    background:transparent;
    position:relative;
    display:flex;
    column-gap: 9.5rem;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: center;
  
  
}
.active{
    background:rgb(245, 77, 16)  ;  
}
.first{
    width:120px;
    height:70px;
    background:rgb(245, 77, 16)  ;  
    text-align: center;
    border-radius: 10%;
    color:white;
    padding: 2rem;

}


